{% extends 'base.html.twig' %}

{% block title 'Contact' %}

{% block body %}
    <h1>Contact</h1>

    <div>
        <img alt="Demo for assetMapper" src="{{ asset('images/31116_JssY.jpeg') }}" />
    </div>
{% endblock %}
